index.html file content


<p>views assetmanager /static/ </p>

<p>
    <a href="/static/views/test.go">test.go</a>
    <br>
    <a href="/static/views/test.txt">test.txt</a>
    <br>
    <a href="/static/views/index.html">index.html</a>
    <br>
    <a href="/static/config/database.yml">config/database.yml</a>
    <br>
</p>


<p>all assetmanager /all/</p>
<p>
    <a href="/all/views/test.go">test.go</a>
    <br>
    <a href="/all/views/test.txt">test.txt</a>
    <br>
    <a href="/all/views/index.html">index.html</a>
    <br>
    <a href="/all/config/database.yml">config/database.yml</a>
    <br>
</p>